#hero,
body {
  margin: 0;
  background: #4E648E; 
}

#hero,
#hero h1 {
    position: relative
}

#hero .cougar-img,
#hero .four-dots {
    text-align: center
}
.cougar-img {
  width: 30vh;
  height: 30vh;
}

.email-container {
    overflow-x: hidden;
    background: #081933;
}

input {
    border-radius: 0
}
video { 
    position: fixed;
    opacity: 0.4;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
#hero {
    min-height: 100vh;
    padding: 0;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

#hero h1 {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, .3);
    margin-top: 40px;
    font-size: 80px;
    word-spacing: 20%;
    line-height: 80px;
    font-weight: 500
}

@media only screen and (max-width:1024px) {
    #hero h1 {
        font-size: 64px;
        line-height: 64px;
    }
}

@media only screen and (max-width:750px) {
    #hero h1 {
        font-size: 36px;
        line-height: 36px
    }
}

#hero .at {
    font-size: 56px
}

@media only screen and (max-width:1024px) {
    #hero .at {
        font-size: 45px;
        line-height: 64px
    }
}

@media only screen and (max-width:750px) {
    #hero .at {
        font-size: 25px;
        line-height: 36px
    }
    #hero .cougar-img {
        height: 80px;
        width: 63px
    }
}

#hero input[type=submit],
#hero input[type=text] {
    font-family: Circular, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 24px;
    outline: 0
}

#hero .center-float {
    z-index: 3;
    text-align: center
}

#hero input {
    -webkit-appearance: none
}

#hero input[type=text] {
    background-color: transparent;
    padding: 10px;
    margin-top: 10px;
    font-size: 24px;
    border: 0;
    border-bottom: 2px solid #fff;
    width: 476px;
    color: #fff
}

@media only screen and (max-width:1024px) {
    #hero input[type=text] {
        font-size: 20px;
        line-height: 20px;
        width: 384px
    }
}

@media only screen and (max-width:750px) {
    #hero input[type=text] {
        font-size: 16px;
        line-height: 16px;
        width: 288px
    }
}

#hero input[type=text]:focus {
    outline: 0;
    transition: .2s ease-in;
    border-bottom: 2px solid #162955;
}

#hero input[type=text]:focus::-webkit-input-placeholder {
    opacity: 0
}

#hero input[type=text]:focus::-moz-placeholder {
    opacity: 0
}

#hero input[type=text]:focus:-ms-input-placeholder {
    opacity: 0
}

#hero input[type=text]:focus::placeholder {
    opacity: 0
}

#hero input[type=text]::-webkit-input-placeholder {
    color: #fff
}

#hero input[type=text]::-moz-placeholder {
    color: #fff
}

#hero input[type=text]:-ms-input-placeholder {
    color: #fff
}

#hero input[type=text]::placeholder {
    color: #fff
}

#hero input[type=submit] {
    display: inline-block;
    font-size: 24px;
    color: #292249;
    background-color: #718DA5;
    opacity: .8;
    padding: 15px 20px;
    border: none;
    margin-left: 24px;
    transition: background-color .3s ease
}

#hero input[type=submit]:hover {
    background-color: #123552
}

@media only screen and (max-width:1024px) {
    #hero input[type=submit] {
        font-size: 20px;
        line-height: 20px
    }
}

@media only screen and (max-width:750px) {
    #hero input[type=submit] {
        padding: 10px 15px;
        font-size: 16px;
        line-height: 16px;
        margin-top: 24px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}

#hero .disabled,
#hero .disabled:hover {
    background-color: #ABA7A7
}

#hero .error {
    margin-top: 20px;
    display: block;
    color: #F76D6B;
    font-size: 1.6rem
}

#hero .four-dots {
    margin-top: 44px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 35%;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (max-width:1024px) {
    #hero .four-dots {
        width: 40%
    }
}

@media only screen and (max-width:750px) {
    #hero .four-dots {
        width: 50%
    }
}

#hero .dot {
    background: #ABA7A7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #404040;
    opacity: .7;
    transition: opacity .5s ease
}

#hero .dot:hover {
    opacity: 1
}

@media only screen and (max-width:750px) {
    #hero .dot {
        width: 32px;
        height: 32px
    }
}
a:link { 
  text-decoration: none;
  color: #162955;
}

#hero #contact-us {
    margin-top: 30px;
    color: #4F628E;
}

#hero p {
    margin: 0;
    line-height: 28px;
    font: 20px;
    color: #fff
}

@media only screen and (max-width:1024px) {
    #hero p {
        font-size: 16px;
        line-height: 24px
    }
}
